In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('historical-database.csv', sep = ';')

In [21]:
df

             year         city_code product_type    product destinated_area
0      01/01/1974  960b4f2c94a2fb2c    temporary     Others               0
1      01/01/1974  746cc42bfb8f6b62    temporary     Others               0
2      01/01/1974  6cce2bf873870afc    temporary     Others               0
3      01/01/1974  4de42e351006a2ae    temporary     Others               0
4      01/01/1974  5b6072f8f6d37acc    temporary     Others               0
...           ...               ...          ...        ...             ...
73739  01/01/2013  74d75dde6dc4a5ec      pasture  Livestock     150866,5644
73740  01/01/2014  74d75dde6dc4a5ec      pasture  Livestock      152446,396
73741  01/01/2015  74d75dde6dc4a5ec      pasture  Livestock     154681,0205
73742  01/01/2016  74d75dde6dc4a5ec      pasture  Livestock     164706,2778
73743  01/01/2017  74d75dde6dc4a5ec      pasture  Livestock     165220,8728

[73744 rows x 5 columns]